/* Top-level styles for the entire page */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background: #f0f0f0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Reset some default styles to make working with images easier */
figure {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/* Set the same sizing, margins, and display for header, main, and footer */
header, main, footer {
    width: 80%;
    margin: auto;
    display: flex;
    max-width: 900px;
    min-width: 625px;
}

/* Header */
header {
    background: #040972;
    color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}
header h1 {
    margin-bottom: 5px;
    font-weight: normal;
}
header h4 {
    margin-top: 5px;
}


/* Main Section */
main {
    background: #ffffff;
}

aside {
    background: #63b0a7;
    flex: 4;
}
aside h2 {
    margin-left: 10px;
}

article {
    padding: 10px 7%;
    flex: 8;
}
figure {
    width: 40%;
}
figcaption {
    font-style: italic;
    font-size: 0.7rem;
}

/* Footer Section */
footer {
    background: #f2e9a6;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    border-radius: 0px 0px 5px 5px;
}
footer a {
    color: black;
    font-weight: bold;
}