*, *::after, *::before {
    box-sizing: border-box;
}

/* ----------------------- */
/* ---------RESET--------- */
/* ----------------------- */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    min-width: 300px;
}
section {
    margin-bottom: 3em;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

/* ----------------------- */
/* --------HEADER--------- */
/* ----------------------- */
header {
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 2em;
}
header .logo {
    width: 1.5em;
}
header .nav-links {
    justify-content: space-between;
    min-width: 200px;
}


/* ----------------------- */
/* ------EMAIL FORM------- */
/* ----------------------- */
.email-form label[for="email"] {
    display: none;
}

.email-form input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

/* ----------------------- */
/* ----TALKING POINTS----- */
/* ----------------------- */
.talking-point {
    margin-bottom: 1em;
}

.talking-point .logo {
    width: 3em;
    margin-right: 5em;
}

/* ----------------------- */
/* -------YOUTUBE--------- */
/* ----------------------- */
.youtube-container {
    justify-content: center
}
.youtube-video {
    width: 40%;
    max-width: 500px;
    min-height: 260px;
}

/* ----------------------- */
/* --------CARDS---------- */
/* ----------------------- */

.cards {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    flex-flow: wrap;
}
.card {
    border: 1px solid black;
    flex: 1;
    justify-content: flex-start;
    text-align: center;
    min-width: 140px
}
.card-title {
    width: 100%;
    background: lightgrey;
    text-align: center;
    padding: 0.6em;
}
.card-select {
    justify-self: flex-end;
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
.card-select:hover,
.card-select:active {
    background-color: #f1c40f7f;
}

/* ----------------------- */
/* -------FOOTER---------- */
/* ----------------------- */
footer.flex-container {
    background: whitesmoke;
    align-items: flex-end;
    margin: auto;
    padding: 1em;
}

.copyright {
    font-style: italic;
    color: grey;
}

/* ----------------------- */
/* -----UTILITIES--------- */
/* ----------------------- */
.fixed {
    position: sticky;
    top: 0px;
    width: 100%;
}

.flex-container {
    display: flex;
    gap: 0.5em;
}

.flex-column {
    flex-direction: column;
    align-items: center;
}

/* ----------------------- */
/* -----MEDIA QUERY------- */
/* ----------------------- */

@media (max-width: 528px) {
    .talking-point .logo {
        display: none;
    }

    .talking-points,
    .talking-points.flex-container,
    .cards.flex-container,
    .nav-links {
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
}