html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: #f0f0f0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 80%;
    margin: auto;
    padding: 10px 0px;
    max-width: 900px;
    min-width: 625px;
}

header {
    background: #040972;
    color: white;
    border-radius: 5px 5px 0px 0px;
    grid-column: span 4;
    display: flex;
    align-items: center;
    flex-flow: column;
}

aside h2 {
    margin-left: 10px;
}

header h1 {
    margin-bottom: 5px;
    font-weight: normal;
}
header h4 {
    margin-top: 5px;
}

main {
    background: #ffffff;
}

aside {
    background: #63b0a7;
    grid-column: 1;
}

article {
    padding: 10px 7%;
    grid-column: span 3;
}

img {
    width: 200px;
}

figcaption {
    font-style: italic;
    font-size: 0.7rem;
}

footer {
    background: #f2e9a6;
    height: 80px;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    grid-column: span 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    font-weight: bold;
    color: black;
}