*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: auto;
    min-width: 1211px;
}
div {
    vertical-align: top;
}
main {
    margin-top:15px;
    margin-left: auto;
    margin-right:auto;
    width: 1212px;
}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.column {
    float: left;
    height: 100%;
}

.row1 {
    height: 326px;
    margin-bottom:20px;
}
.row2 {
    height: 338px;
}
.row3 {
    width: 1211px;
    height: 95px;
    background: orange;
    border: 30px solid black;
}


#red {
    background: red;
    width: 516px;
    height: 100%;
    border: 45px solid black;
}


#blue {
    background: blue;
    width: 517px;
    height: 223px;
    border: 80px solid black;
    margin-left: 30px;
    box-shadow: 0px 4px 4px #888888;
}

#gold {
    background: gold;
    width: 126px;
    height: 256px;
    border: 28px solid black;
    box-shadow: 0px 4px 4px #888888;
    margin-left: 23px;
    margin-top: 72px;

}

#green {
    background: rgba(34, 231, 27, 0.8);
    width: 516px;
    height: 100%;
    padding: 30px 130px;
    background-clip: content-box;
    border: 18px solid black;
}

#light-green {
    background: lightgreen;
    width: 126px;
    height: 100%;
    border: 30px solid black;
    margin-left: 119px;
}

#pink {
    background: magenta;
    width: 451px;
    height: 130px;
    padding: 15px 70px;
    background-clip: content-box;
    border: 5px solid black;
}

#purple {
    background: purple;
    width: 303px;
    height: 143px;
    padding: 0px 27px;
    background-clip: content-box;
    border: 25px solid black;
    margin-left: 148px;
    margin-top:35px;
}